<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<category
	            name="%commandCategoryName"
	            description="%commandCategoryDescription"
	            id="org.eclipsescript.commandcategory"/>
		<command
		        name="%commandRunLastName"
		        description="%commandRunLastDescription"
		        categoryId="org.eclipsescript.commandcategory"
	            id="org.eclipsescript.runlast"/>
		<command
		        name="%commandRunCurrentName"
		        description="%commandRunCurrentDescription"
		        categoryId="org.eclipsescript.commandcategory"
	            id="org.eclipsescript.runcurrent"/>
		<command
		        name="%commandOpenScriptDialogName"
		        description="%commandOpenScriptDialogDescription"
		        categoryId="org.eclipsescript.commandcategory"
	            id="org.eclipsescript.openscriptdialog"/>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
        	class="org.eclipsescript.core.RunLastHandler"
            commandId="org.eclipsescript.runlast"/>
		<handler
        	class="org.eclipsescript.core.RunCurrentHandler"
            commandId="org.eclipsescript.runcurrent"/>
		<handler
        	class="org.eclipsescript.core.OpenScriptDialogHandler"
            commandId="org.eclipsescript.openscriptdialog"/>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
   			sequence="%commandRunLastSequence"
   		    commandId="org.eclipsescript.runlast"
   		    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   		<key
   			sequence="%commandRunCurrentSequence"
   		    commandId="org.eclipsescript.runcurrent"
   		    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   		<key
   			sequence="%commandOpenScriptDialogSequence"
   		    commandId="org.eclipsescript.openscriptdialog"
   		    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   	</extension>

	<extension id="org.eclipsescript.scriptproblemmarker" point="org.eclipse.core.resources.markers" name="%markerName">
		<super type="org.eclipse.core.resources.problemmarker"/>
	</extension>

	<extension point="org.eclipse.ui.console.consolePageParticipants">
		<consolePageParticipant class="org.eclipsescript.ui.CloseConsolePageParticipant" id="org.eclipsescript.ui.CloseConsolePageParticipant">
			<enablement><instanceof value="org.eclipsescript.scriptobjects.Console$ConsoleClass"/></enablement>
		</consolePageParticipant>
	</extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.eclipsescript.core.Autostart">
    </startup>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.eclipsescript.preferences.EclipseScriptPreferencePage"
          id="org.eclipsescript.preferences.EclipseScriptPreferencePage"
          name="EclipseScript Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipsescript.preferences.PreferenceInitializer">
    </initializer>
 </extension> 

</plugin>
